# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.h5

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
runs/
*.egg-info/
.installed.cfg
*.eg

*.zip
FineTuningBLIP/torchVersion/
Trained_Models/
Images/
Images_real/
Images_abstract/
Annotations/mscoco_train2014_annotations.json

