# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.h5

# Distribution / packaging
bin/
build/
dist/
lib/
runs/

*.pth
*.zip
FineTuningBLIP/torchVersion/
Trained_Models/
Images/
Images_real/
Images_abstract/
Annotations/mscoco_train2014_annotations.json
results_training_CLIP/
