# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.h5
*.pth
*.zip

# Distribution / packaging
bin/
build/
dist/
lib/
runs/

BLIP_MultipleChoice_ZeroShot/torchVersion/
Trained_Models/
Images/
Annotations/mscoco_train2014_annotations.json
results_training_CLIP/
